* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: blueviolet;
    color: white;
}

h1.title {
    font-size: 24pt;
    text-align: center;
}

.centered-photo {
    margin: auto;
    border: 1px solid white;
    border-radius: 50%;
    height: 250px;
}

